<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- 扫包，将Component注解的类定义为Spring Bean -->
    <context:component-scan base-package="com.hongtu.designpattern.proxy.springAOP.component" />

    <!-- 配置一个代理 -->
    <bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean" >
        <property name="interfaces" value="com.hongtu.designpattern.proxy.springAOP.Greeting" /> <!--接口-->
        <property name="target" ref="greetingImpl" />   <!--接口实现类-->
        <property name="interceptorNames">           <!--拦截器-->
            <list>
                <value>greetingAroundAdvice</value>
            </list>
        </property>
    </bean>

    <bean id="greetingProxy2" class="org.springframework.aop.framework.ProxyFactoryBean" >
        <property name="interfaces" value="com.hongtu.designpattern.proxy.springAOP.Apology" /> <!--接口-->
        <property name="target" ref="greetingImpl" />   <!--接口实现类-->
        <property name="interceptorNames">           <!--拦截器-->
            <list>
                <value>greetingIntroAdvice</value>
            </list>
        </property>
        <property name="proxyTargetClass" value="true" />
    </bean>
</beans>